@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.container{
    height: 98vh;
    width: 100vw;
    background-color: #fff;
    overflow: hidden;
}

.title{
    height: 40px;
    width: 235px;
    position: absolute;
    top: 35px;
    left: 41vw;
    padding: 7px 0px;
    background: #FFCEDE;
    border-radius: 50px;
    text-align: center;
}

.title h1{
    color: #000;
    font-size: 27px;
    font-family: 'Montserrat';
    position: relative;
    top: -4px;
}

.buttons{
    width: 250px;
    height: 150px;
    position: absolute;
    top: 170px;
    left: -15px;
}

.profile-button {
    position: relative;
    display: inline-block;
    background: #ED769C;
    color: white;
    font-family: 'Montserrat';
    font-size: 18px;
    font-weight: bold;
    padding: 10px 25px;
    text-align: right;
    text-decoration: none;
    border-radius: 25px;
    cursor: pointer;
    left: -31px;
    width: 150px;
    height: 40px;
    transition: transform 0.2s;
}

.profile-button:hover {
    transform: translate(10px);
}

.activity-button {
    position: relative;
    display: inline-block;
    background: #ED769C;
    color: white;
    font-family: 'Montserrat';
    font-size: 18px;
    font-weight: bold;
    padding: 9px 25px;
    text-align: right;
    text-decoration: none;
    border-radius: 25px;
    cursor: pointer;
    left: -47px;
    margin-top: 18px;
    width: 240px;
    height: 40px;
    transition: transform 0.2s;
}

.activity-button:hover {
    transform: translate(10px);
}

.course-div {
    position: absolute;
    margin: 170px 200px 200px 230px;
    height: 430px;
    width: 800px;
    overflow: scroll;
    padding: 10px;
    /* border: 2px solid #ED769C; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: flex-start;
}

.course {
    color: black;
    width: 30%;
    margin-bottom: 20px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    padding: 10px;
    height: fit-content;
}
  
.course:hover {
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
}

.course h3{
    background-color: #FFCEDE;
    font-family: 'Montserrat';
}

.show_lectures{
    display: inline-block;
    text-decoration: none;
    background: linear-gradient(#ED769C, #BB466B);
    color: white;
    font-family: 'Montserrat';
    font-size: 12px;
    padding: 5px;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    box-shadow: 0px 10px 10px 2.5px rgba(171,4,54,0.25);
    transition: transform 0.2s;
    width: 70%;
    margin: 5px;
}

.show_lectures:hover{
    transform: scale(1.1);
}

.delete_course img{
    width: 17%;
    margin-bottom: -10px;
    transition: all 0.2s;
}

.delete_course img:hover{
    transform: scale(1.3);
}

.addCourse-button {
    position: absolute;
    display: inline-block;
    background: linear-gradient(#ED769C, #BB466B);
    color: white;
    font-family: 'Montserrat';
    font-size: 17px;
    font-weight: bold;
    padding: 9px 10px;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
    cursor: pointer;
    top: 640px;
    left: 450px;
    width: 200px;
    height: 40px;
    box-shadow: 0px 10px 10px 2.5px rgba(171,4,54,0.25);
    z-index: 1;
    transition: transform 0.2s;
}

.addCourse-button:hover {
    transform: scale(1.1);
}

.logout-button {
    position: absolute;
    left: 96%;
    top: 15px;
    transition: all 0.2s;
}

.logout-button img{
    width: 40px;
    height: 40px;
}

.logout-button:hover{
    transform: scale(1.3);
}

.mediumellipse{
    position: absolute;
    width: 300px;
    height: 300px;
    left: -110px;
    top: 500px;
    border-radius: 50%;
    background: linear-gradient(180deg, #F7F1FF 0%, rgba(247, 241, 255, 0) 100%);
    z-index: 0;
}

.gradient-right{
    position: relative;
    float: right;
    width: 530px;
    height: 530px;
    top: 140px;
    left: 150px;
    border-radius: 50%;
    background: linear-gradient(180deg, #F7F1FF 0%, rgba(247, 241, 255, 0) 100%);
    z-index: 0;
}

.gradient-right img{
        width: 370px;
        position: relative;
        top: -45px;
        left: 10px;
}

footer{
    font-size: 10px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    background-color: #fff;
}