@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}

body{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.container{
    height: 98vh;
    width: 100vw;
    background-color: #fff;
    overflow: hidden;
}

.title{
    height: 40px;
    width: 235px;
    position: absolute;
    top: 35px;
    left: 41vw;
    padding: 7px 0px;
    background: #FFCEDE;
    border-radius: 50px;
    text-align: center;
}

.title h1{
    color: #000;
    font-size: 26px;
    font-family: 'Montserrat';
    position: relative;
    top: -4px;
}

.centerDiv{
    position: absolute;
    height: auto;
    width: auto;
    margin-top: 12%;
    margin-left: 30%;
}

.centerDiv p{
    width: fit-content;
    font-size: larger;
    margin-bottom: 10px;
}

.centerDiv ul{
    list-style: none;
}

.buttons {
  position: absolute;
  top: 100%; 
  left: 180px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 200px;
}

.button input[type="submit"],
.cancel-button {
  display: block;
  background: linear-gradient(#ED769C, #BB466B);
  color: white;
  font-family: 'Montserrat';
  font-size: 17px;
  font-weight: bold;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  width: 85px;
  height: auto;
  box-shadow: 0px 10px 10px 2.5px rgba(171,4,54,0.25);
  transition: transform 0.2s;
}

.button input[type="submit"] {
  margin-right: 5%;
}

.cancel-button {
  margin-left: 5%;
}

.cancel-button:hover,
.button input[type="submit"]:hover {
  transform: scale(1.1);
}
  
footer{
    font-size: 10px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    background-color: #fff;
}