<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Course</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/add course.css' %}">
</head>
<body>
    <div class="container">
        <div class="title">
            <h1>New Course</h1>
        </div>
        <img class="mediumellipse" src="{% static 'resources/Ellipse.png' %}" alt="">
        <div class="gradient-right">
            <img src="{% static 'resources/rocket big.png' %}" alt="">
        </div>
        <div class="form-div">
            <form class="new-course-form" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <!-- <label for="code">Course Code:</label>
                <input type="text" placeholder="e.g; CS200" id="code" name="code"><br>
                <label for="title">Course Title:</label>
                <input type="text" placeholder="e.g; OOP" id="title" name="title"><br>

                <label for="dropdown">Credit Hours:</label>
                <select id="dropdown">
                  <option value="option1">3</option>
                  <option value="option2">4</option>
                </select>

                <label for="dropdown">Discipline:</label>
                <select id="dropdown">
                  <option value="option1">BSCS</option>
                  <option value="option2">BSSE</option>
                  <option value="option3">BSAI</option>
                </select>

                <label for="dropdown">Semester:</label>
                <select id="dropdown">
                  <option value="option1">1</option>
                  <option value="option2">2</option>
                  <option value="option3">3</option>
                  <option value="option4">4</option>
                  <option value="option5">5</option>
                  <option value="option6">6</option>
                  <option value="option7">7</option>
                  <option value="option8">8</option>
                </select> -->
                <br><br>
                <input type="submit" value="Save Course">
              </form>               
        </div>
    </div>

    <footer>
        <p>©Developed By: Umer Sheryar Baloch & Aqsa Javed</p>
    </footer>
    <script src="{% static 'js/course.js' %}"></script>
</body>
</html>