<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add MCQs</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/add mcqs.css' %}">
</head>

<body>
    <div class="container">
        <div class="title">
            <h1>Add MCQs</h1>
        </div>
        <div class="image">
            <img src="{% static 'resources/question mobile.png' %}" alt="">
        </div>
        <div class="gradient-right"></div>
        <div class="question">
            <!-- <input type="text" placeholder="Title of the question....." id="ques" name="ques"><br>
            <div class="options">
                <input type="text" placeholder="Option 1" id="1" name="1"><br>
                <input type="text" placeholder="Option 2" id="2" name="2"><br>
                <input type="text" placeholder="Option 3" id="3" name="3"><br>
                <input type="text" placeholder="Option 4" id="4" name="4"><br><br>
                <input type="text" placeholder="Correct Option" id="correct" name="correct"><br>
            </div> -->
            <form method="POST" action="{% url 'add_mcqs' course_id=course.course_id lecture_id=lecture.lecture_id %}" id="question-form">
                <div class="options">
                    {% csrf_token %}
                    {{ form.as_p }}
                </div>
                <div class="buttons">
                    <pre>
                        <input type="submit" value="Add Next" id="add-next-btn">    <input type="submit" value="Clear" id="clear-btn">   <input type="submit" value="Finish">
                    </pre>
                </div>
            </form>
        </div>
    </div>
    <footer>
        <p>©Developed By: Umer Sheryar Baloch & Aqsa Javed</p>
    </footer>
    <script src="{% static 'js/mcqs.js' %}"></script>
</body>

</html>