<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>All Lectures</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/all lectures.css' %}">
</head>
<body>
    <a href="{% url 'dashboard' %}" class="home-button"><img src="{% static 'resources/home.ico' %}" alt="home icon"></a>
    <div class="container">
        <div class="title">
            <h1>All Lectures</h1>
        </div>
        <div class="image">
            <img src="{% static 'resources/papers.png' %}" alt="">
        </div>

        <div class="lecture-div" id="lecture-list">
            {% for lecture in lectures %}
            <div class="lecture">
                <h3>{{ lecture.topic }}</h3>
                <p>Lecture No: {{ lecture.lecture_id }}</p>
                <p>Date: {{ lecture.date_delivered }}</p>
                <a href="{% url 'view_mcqs' course_id=course.course_id lecture_id=lecture.lecture_id %}" class="mcqs-btns">Show MCQs</a>
                <a href="{% url 'add_mcqs' course_id=course.course_id lecture_id=lecture.lecture_id %}" class="mcqs-btns">Add MCQs</a>
            </div>
            {% endfor %}
        </div>

        <a href="{% url 'lecture' course_id=course.course_id %}" class="addLecture-button">Add New Lecture</a>
    </div>

    <footer>
        <p>©Developed By: Umer Sheryar Baloch & Aqsa Javed</p>
    </footer>
</body>
</html>