<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>All Lectures</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/all lectures.css' %}">
</head>
<body>
    <div class="container">
        <div class="title">
            <h1>All Lectures</h1>
        </div>
        <div class="image">
            <img src="{% static 'resources/papers.png' %}" alt="">
        </div>

        <a href="add lecture" class="addLecture-button">Add New Lecture</a>
    </div>

    <footer>
        <p>©Developed By: Umer Sheryar Baloch & Aqsa Javed</p>
    </footer>
</body>
</html>