<!DOCTYPE html>
<html>
<head>
	<title>Question Paper</title>
	<style>
		body {
			font-family: Arial, sans-serif;
			margin: 0;
			padding: 0;
		}
		h2 {
			font-size: 24px;
			margin-bottom: 20px;
		}
	</style>
</head>
<body>
    <div style="padding: 20px;">
        <p>Teacher: {{ user_first_name }} {{ user_last_name }}</p>
        <p>Course: {{ course_name }}</p>
        <p>Marks: {{ marks }}</p>
        <p>Date: {{ date }}</p>
        <p>Duration: {{ duration }}</p>
        <p>Activity: {{ activity_name }}</p>
        <p>Semester: {{ semester }}</p><br>
    
        <h2>Answer Key:</h2>
        {% for question in questions %}
        <p><strong>{{ question.question }}</strong></p>
        <p>Correct Answer: {{ question.correct_option }}</p><br>
        {% endfor %}
    </div>    
</body>
</html>
