<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teacher's Dashboard</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
</head>
<body>
    <div class="container">
        <div class="title">
            <h1>Dashboard</h1>
        </div>
        <div class="buttons">
            <a href="profile" class="profile-button">Profile</a>
            <a href="activity" class="activity-button">Create Activity</a>
        </div>
        <div class="course-div" id="course-list">
            {% for course in courses %}
            <a href="{% url 'lectures' course_id=course.course_id %}" class="course" data-course-id="{{ course.course_id }}">
                <h3>{{ course.course_name }}</h3>
                <p>Course Code: {{ course.course_code }}</p>
                <p>Course Id: {{ course.course_id }}</p>
                <p>Credit Hours: {{ course.credit_hours }}</p>
                <p>Discipline: {{ course.discipline }}</p>
                <p>Semester: {{ course.semester }}</p>
            </a>
            {% endfor %}
        </div>
        <a href="add course" class="addCourse-button">Add New Course</a>
        <a href="signout" class="logout-button"><img src="{% static 'resources/logout.png' %}" alt=""></a>
        <img class="mediumellipse" src="{% static 'resources/Ellipse.png' %}" alt="">
        <div class="gradient-right">
            <img src="{% static 'resources/rocket big.png' %}" alt="">
        </div>
    </div>

    <footer>
        <p>©Developed By: Umer Sheryar Baloch & Aqsa Javed</p>
    </footer>
    <script src="{% static 'js/course.js' %}"></script>
</body>
</html>