<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ lecture.topic }}'s Deletion</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/delete lecture.css' %}">
</head>

<body>
  <div class="container">
    <div class="title">
      <h1>{{ lecture.topic }} Lecture Deletion</h1>
    </div>
    <div class="centerDiv">
      <p>Are you sure you want to delete lecture "{{ lecture.topic }}"?</p>
      <form method="post">
        {% csrf_token %}
        <div class="buttons">
          <div class="button"> <input type="submit" value="Delete"></div>
          <a class="cancel-button" href="{% url 'lectures' course_id=lecture.course_id %}">Cancel</a>
        </div>
      </form>
    </div>
  </div>

  <footer>
    <p>©Developed By: Umer Sheryar Baloch & Aqsa Javed</p>
  </footer>
</body>

</html>