<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ user.first_name }}'s Profile</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
</head>
<body>
    <!-- {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %} -->

    <div class="container">
        <div class="title">
            <h1> {{ user.first_name }}'s Profile</h1>
        </div>
        <img class="mediumellipse" src="{% static 'resources/Ellipse.png' %}" alt="">
        <div class="gradient-right">
            <img src="{% static 'resources/rocket big.png' %}" alt="">
        </div>
        <div class="form-div">
            <form class="profile-form" method="POST">
                {% csrf_token %}
                {{ user_update_form.as_p }}
                <!-- {{ teacher_form.as_p }} -->
                {{ password_form.as_p }}
                <label for="first_name">First Name:</label>
                <input type="text" placeholder="e.g; John" id="first_name" name="first_name" value="{{ user_form.initial.first_name }}"><br>
                <label for="last_name">Last Name:</label>
                <input type="text" placeholder="e.g; Smith" id="last_name" name="last_name" value="{{ user_form.initial.last_name }}"><br>
                <label for="username">Username:</label>
                <input type="text" placeholder="e.g; johnsmith" id="username" name="username" value="{{ user_form.initial.username }}"><br>
                <label for="email">Email:</label>
                <input type="email" placeholder="example@email.com " id="email" name="email" value="{{ user_form.initial.email }}"><br>
                <!-- <label for="new_password1">New Password:</label>
                <input type="password" placeholder="............" id="new_password1" name="new_password1"><br>
                <label for="new_password2">Confirm New Password:</label>
                <input type="password" placeholder="............" id="new_password2" name="new_password2"><br> -->
                <label for="designation">Designation:</label>
                <input type="text" placeholder="e.g; Assistant Professor " id="designation" name="designation" value="{{ teacher_form.initial.designation }}"><br>
                <label for="scale">Scale:</label>
                <input type="text" placeholder="e.g; 19" id="scale" name="scale" value="{{ teacher_form.initial.scale }}"><br>
                <br>
                <input type="submit" value="Update Profile">
            </form>                           
        </div>
    </div>

    <footer>
        <p>©Developed By: Umer Sheryar Baloch & Aqsa Javed</p>
    </footer>
</body>
</html>